


.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}

html {
/*  background-color: #fdf6e3;*/
/*  background-image: url("http://zuchefeng.oss-cn-hangzhou.aliyuncs.com/wood.jpeg");*/
}

body {
  background-color: #e4e4e4;
}

.posts > div {
  padding: 20px;
/*  background-color: #f5f5f5;*/
/*  margin: 20px;*/
  border-bottom: 1px solid #000;
}
