---
layout: hebi-default
title: Categories Index
---



{% for category in site.categories %}
{% assign cate = category[0] %}
<div id="{{ cate }}" class="category">
  <h3>{{ cate }}</h3>
  {% assign posts = site.categories[cate] %}
  {% include posts.html %}
</div>
{% endfor %}


<script>
$('.category').hide();
var p = /\?(.+)/;
var cate = p.exec(document.URL)[1];
cate = (decodeURIComponent(cate));
$('#'+cate).show();
$().ready(function() {
  $('#'+cate+'-nav').addClass('active');
});
</script>
