---
layout: hebi-default
title: Hebi's Blog 李合璧的博客
image: https://farm9.staticflickr.com/8535/15612786938_c1b5c3fceb_k.jpg
header: 何必
desc: 我想应该静下来，想一些话
---

<!-- {% assign posts = site.posts %} -->
{% assign posts = paginator.posts %}
{% include posts.html %}

<ul class="pagination pagination-lg">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span>&laquo;</span></a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="disabled"><a>{{ page }}</a></li>
    {% elsif page == 1 %}
      <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span>&raquo;</span></a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
