---
layout: hebi-default
title: Tags Index
---


{% capture tags %}
{% for tag in site.tags %}
{{ tag[0] }}
{% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
<!-- the reason of use taglist instead of tag is: it is in conflict with prettify -->
<div id="{{ tag }}" class='taglist'>
  <h3>{{ tag }}</h3>
  {% assign posts = site.tags[tag] %}
  {% include posts.html %}
</div>
{% endfor %}

<script>
$('.taglist').hide();
var p = /\?(.+)/;
var tag = p.exec(document.URL)[1];
tag = (decodeURIComponent(tag));
$('#'+tag).show();

</script>
