{% include head.html %}
<div id="canvas">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid container-narrow">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Hebi!</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li  id="slidebar-toggle"><a href="#"> Menu </a></li>
      </ul>
    </div>
  </div>
</nav>
<div class='container-narrow' id="main">
  {{ content }}
</div>

<div id="copyright" class="container-narrow text-center">
<p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }} All Right Reserved.</p>
</div>
</div>


<div id="sidebar">
  <ul>
    <li><label>Navigate</label></li>
    <li><a href='/'>Home</a></li>
  </ul>
  <ul>
    <li><label>Tags</label></li>
    {% capture tags %}
    {% for tag in site.tags %}
    {{ tag[0] }}
    {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}

    {% for tag in sortedtags %}
    <li><a href="/tags.html?{{tag}}">{{tag}}</a></li>
    {% endfor %}
  </ul>
  <ul>
    <li><label>Categories</label></li>
  </ul>
</div>

{% include foot.html %}
