---
layout: hebi-default
---

<h1>{{ page.title }}</h1>
<span class="meta">{{ page.date | date_to_string }}</span>

<div id="tags" class="pull-right" style="display: inline-block">
  {% for tag in page.tags %}
  <a class="btn btn-success" href="/tags.html?{{tag}}"> {{ tag }} </a>
  {% endfor %}
</div>

<hr>

<div class="post">
  {{ content }}
</div>


<script type="text/javascript">
var disqus_shortname = 'hebiblog';
(function(){
  var s = document.createElement('script');s.async = true;
  s.type = 'text/javascript';
  s.src = '//'+disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
})();
</script>

<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = "hebiblog";
(function() {
  var dsq = document.createElement('script');
  dsq.type = 'text/javascript';
  dsq.async = true;
  dsq.src = '//'+disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementByTagName('body')[0]).appendChild(dsq);
})();
</script>
