{% include head.html %}

<div class='container-narrow' id="main">

  <h1>{{ page.title }}<a href='/' class="fa-arrow-left pull-right"></a></h1>
  <span class="meta">{{ page.date | date_to_string }}</span>
  <span class="pull-right">
    <a href="https://github.com/lihebi/blog/edit/gh-pages/{{page.path}}">Edit</a>
  </span>
  <hr>
  <div class="post">
    {{ content }}
  </div>
</div>


<script type="text/javascript">
var disqus_shortname = 'hebiblog';
(function(){
  var s = document.createElement('script');s.async = true;
  s.type = 'text/javascript';
  s.src = '//'+disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
})();
</script>

<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = "hebiblog";
(function() {
  var dsq = document.createElement('script');
  dsq.type = 'text/javascript';
  dsq.async = true;
  dsq.src = '//'+disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementByTagName('body')[0]).appendChild(dsq);
})();
</script>

{% include foot.html %}
